.table th {
background: #eaeaea;
background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
background-size: 100%;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fdfdfd), color-stop(100%, #eaeaea));
background-image: -webkit-linear-gradient(top, #fdfdfd, #eaeaea);
background-image: -moz-linear-gradient(top, #fdfdfd, #eaeaea);
background-image: -o-linear-gradient(top, #fdfdfd, #eaeaea);
background-image: linear-gradient(top, #fdfdfd, #eaeaea);
}

.table-responsive {
	position: relative;
}

a:link{text-decoration: none;}
