
.menu  .glyphicon { margin-right:10px; }
.menu  .panel-body { padding:0px; }
.menu  .panel-body table tr td { padding-left: 15px }
.menu  .panel-body .table {margin-bottom: 0px; }

.sidebar{
	background: #fff;
	position:fixed;
	z-index:1000;
	bottom: 0;
	top: 50px;
	border-top: 1px solid #090909;
	padding: 0px;
}

.navbar-header .navbar-brand span {
    color: #30a5ff;
}