@import url(https://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Dancing+Script:700);

.menu  .glyphicon { margin-right:10px; }
.menu  .panel-body { padding:0px; }
.menu  .panel-body table tr td { padding-left: 15px }
.menu  .panel-body .table {margin-bottom: 0px; }

.sidebar{
	background: #fff;
	position:fixed;
	z-index:1000;
	bottom: 0;
	top: 50px;
	border-top: 1px solid #090909;
	padding: 0px;
}

.navbar-header .navbar-brand span {
    color: #30a5ff;
}

.menu .panel-default > .panel-heading {
  	font-family: 'Questrial','Helvetica Neue',Arial,sans-serif;  	
    color: #101010;
}
.menu .panel-default > .panel-heading:hover {
	background-color: #3097D1;
	color:#fff;
}


.menu .panel-default > .panel-heading a {
	font-weight: bold;
	font-size: 17px;
}
